In [3]:
# INTEGER
y = 23
type(y)

int

In [4]:
#float
z  = 3.90
type(z)

float

In [6]:
# string
x ="yo"
type(x)

str

In [7]:
b1 = True
b2 = False
type(b1)

bool

In [8]:
y = 1.8-6j
type(y)

complex

In [9]:
print(y.real,y.imag)

1.8 -6.0

In [10]:
# variables
x =10
y = 30
x
y

30

In [11]:
#WE CAN PRINT ONLY ONE VARIABLE
#SO FOR PRINTING TWO VARIABLES WE USE PRINT
x = 10
y = 30
print(y)
x

30

10

In [12]:
#dynamic typing
ten = 10
ten

10

In [13]:
ten =10
print(ten)

10

In [14]:
ten = 'ten'
ten

'ten'

In [15]:
#strong typing
'day'+ '1'

'day1'

In [16]:
'day'+ str(1)

'day1'

In [17]:
# Boolean Evaluation
True and False

False

In [18]:
True and True

True

In [19]:
True or False

True

In [20]:
not True

False

In [22]:
not False

True

In [23]:
True is True

True

In [24]:
False is False

True

In [25]:
True is False

False

In [26]:
'a' is 'a'

True

In [27]:
#Branching(if/elif/else)
x = 35
if x > 40:
    print(" more than 35")
elif x < 20:
    print("less than 35")
else :
    print("It is equal to 35")

It is equal to 35

In [28]:
x = "vidhya"
print("hi",x)

hi vidhya

In [29]:
 #containers
#list
list = [1,23,'b']
print(list)

[1, 23, 'b']

In [30]:
L = [1,2]
print(L)
L.append(23)
print(L)
L.append('v')
print(L)

L.insert(1,12)
L

[1, 2]
[1, 2, 23]
[1, 2, 23, 'v']

[1, 12, 2, 23, 'v']

In [31]:
for i in L:
    print(i)

1
12
2
23
v

In [32]:
#for loop
numbers = [1,2,3,4,5,6]
sum =0
for i in numbers:
    sum =sum + i
print("the sum is",sum)
sum

the sum is 21

21

In [33]:
number = [1,3,5]
for v in number:
    print(v)
else:
    print("no")

1
3
5
no

In [34]:
print(range(10))

range(0, 10)

In [1]:
#while
n = int(input("enter a number:"))
sum = 0
i = 1
while i <= n :
    sum = sum + i
    i = i + 1
print(sum)

enter a number:23
276

In [2]:
#range
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
print(list(range(2,8)))

[2, 3, 4, 5, 6, 7]

In [4]:
print(list(range(2,20,2)))

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [5]:
me = ['apple','mango','grapes']
for i in range(len(me)):
    print("i like",me[i])

i like apple
i like mango
i like grapes

In [6]:
#break
for val in "elephant":
    if val ==" p":
        break
    print(val)
print("end")

e
l
e
p
h
a
n
t
end

In [7]:
#continue
for val in "associated":
    if val == "i":
        continue
    print(val)
print("end")

a
s
s
o
c
a
t
e
d
end

In [8]:
name = input("wat is your name?\n")
type(name)

wat is your name?
vidhya

str

In [2]:
age = int(input("enter your age?\n"))
print("your age is:",age)
type(age)

enter your age?
20
your age is: 20

int

In [10]:
name = input("what is your name?")
print("hi, how r you"+ " " +  name   +"!")
age = (input("what is your age"))
print("you r still "+" " + age +" "+"!")

what is your name?vidhya
hi, how r you vidhya!
what is your age20
you r still  20 !