In [0]:
import math

In [3]:
math.ceil(2.3)

3

In [4]:
print(dir(math))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'copysign', 'cos', 'cosh', 'degrees', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'pi', 'pow', 'radians', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc']

In [5]:
help(math.ceil)

Help on built-in function ceil in module math:

ceil(...)
    ceil(x)

    Return the ceiling of x as an Integral.
    This is the smallest integer >= x.

In [6]:
math.floor(2.3)

2

In [7]:
import foo.bar

ModuleNotFoundError: ignored

In [8]:
from foo import bar

ModuleNotFoundError: ignored

In [9]:
_init_.py:
__all__ =['bar']

SyntaxError: ignored

In [10]:
print('hi)

SyntaxError: ignored

In [11]:
try:
  f = open('testfile','w')
  f.write("test write this")
except IOError:
  print("file not found")
else :
  print('written successfully')
f.close()

written successfully

In [13]:
try:
  f = open('testfile','r')
  f.write("test write this")
except IOError:
  print("file not found or read")
else :
  print('written successfully')
f.close()

file not found or read

In [14]:
try:
  f = open('testfile','w')
  f.write("test write this")
except IOError:
  print("file not found or read")
else :
  print('written successfully')
f.close()

written successfully

In [15]:
try:
  f = open('testfile','w')
  f.write("test write this")
finally:
  print("always execute finally code blocks")

always execute finally code blocks

In [0]:
def askint():
  try:
    val =int(input("enter a number:"))
  except:
    print("not an integer")
  finally:
    print('It is executed')

  print(val)

In [20]:
askint()

enter a number:90
It is executed
90

In [21]:
askint()

enter a number:0
It is executed
0

In [23]:
askint()

enter a number:-1
It is executed
-1

In [24]:
askint()

enter a number:abc
not an integer
It is executed

UnboundLocalError: ignored

In [0]:
def askint():
  try:
    val =int(input("enter a number:"))
  except:
    print("it is not an integer")
    val = int(input("enter a interger:"))
  finally:
    print('Finally,It is executed')

  print(val)

In [26]:
askint()

enter a number:str
it is not an integer
enter a interger:23
Finally,It is executed
23

In [0]:
def askint():
  while True:
         try:
             val =int(input("enter a number:"))
         except:
               print("it is not an integer")
               continue
         else:
             print("it is integer")   
             break
         finally:
              print('Finally,It is executed')
         print(val)

In [33]:
askint()

enter a number:str
it is not an integer
Finally,It is executed
enter a number:23
it is integer
Finally,It is executed

In [36]:
import sqlite3
db = sqlite3.connect("my_database1.db")
db.execute("drop table if exists grade1")
db.execute("create table grade1(id int,name txt,score int)")
db.execute("insert into grade1(id,name,score) values(12,'nithin',23)")
db.execute("insert into grade1(id,name,score) values(10,'nithi',20)")
db.execute("insert into grade1(id,name,score) values(2,'nithu',29)")
db.execute("insert into grade1(id,name,score) values(120,'nithiniii',239)")

In [0]:
db.commit()

In [41]:
results = db.execute("select * from grade1 order by id")
for row in results:
  print(row)
print('-'*56)

(2, 'nithu', 29)
(10, 'nithi', 20)
(12, 'nithin', 23)
(120, 'nithiniii', 239)
--------------------------------------------------------

In [43]:
results = db.execute("select * from grade1 where name ='nithin'")
for row in results:
  print(row)
print('-'*56)

(12, 'nithin', 23)
--------------------------------------------------------

In [44]:
results = db.execute("select * from grade1 where score <= 29")
for row in results:
  print(row)
print('-'*56)

(12, 'nithin', 23)
(10, 'nithi', 20)
(2, 'nithu', 29)
--------------------------------------------------------

In [48]:
results = db.execute("select name, score  from grade1 order by score  desc")
for row in results:
  print(row)
print('-'*56)

('nithiniii', 239)
('nithu', 29)
('nithin', 23)
('nithi', 20)
--------------------------------------------------------

In [49]:
results = db.execute("select name, score  from grade1 order by score  ")
for row in results:
  print(row)
print('-'*56)

('nithi', 20)
('nithin', 23)
('nithu', 29)
('nithiniii', 239)
--------------------------------------------------------

In [50]:
results = db.execute("select name, score  from grade1 order by score  ")
for row in results:
  print(row)

('nithi', 20)
('nithin', 23)
('nithu', 29)
('nithiniii', 239)